.title {
    font-family: var(--font-serif);
    font-size: 12rem;
    text-transform: uppercase;
    margin-top: 25%;
    color: var(--color-main-dark);
    opacity: 0;
    
}
@media screen and (max-width: 769px) {
    .title {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 4rem;
        z-index: 10;
        padding-right: 40%;
        position: absolute;
        top: 0;
        left: 10%;
       
    }
}
.title-show {
    animation-name: show-title;
    animation-duration: 3.2s;
}

@keyframes show-title {
    0% {
        opacity: 0;
        margin-right: -20%;
    }
    30% {
        opacity: 1;
        margin-right: 0;
    }
    100% {
        opacity: 0;
        margin-right: -7%;
    }
}
