.chapters {
    position: fixed;
    top: 50%;
    right: 0;
    font-size: 4rem;
    transform: translate(0, -50%);
    z-index: 10;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    /* background: linear-gradient(to right, transparent, rgba(0,0,0, .8)); */
    background: none;
}
.chapters-menu {
    list-style-type: none;
}
.chapters-menu li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2rem;
    font-family: var(--font-sans);
    text-transform: uppercase;
    transition: all .4s;
    cursor: pointer;
}

.active {
    color: var(--color-main-light);
    font-size: 1.8rem;
    opacity: 1;
}
@media screen and (max-width: 769px) {
    .active {
       font-size: 1.2rem;
    }
}
.inactive {
    color: var(--color-grey-light);
    font-size: 1.6rem;
    opacity: .9;
}
@media screen and (max-width: 769px) {
    .inactive {
        font-size: 1.2rem;
    }
}
.inactive:hover {
    color: var(--color-main-light);
    opacity: 1;
}
.circle-active {
    border-radius: 100px;
    margin-left: 2rem;
    height: 3rem;
    width: 3rem;
    border: 3px solid var(--color-main-light);
    /* background-color: var(--color-main-light); */
    background-color: transparent;
    transition: all .4s;
}
@media screen and (max-width: 769px) {
    .circle-active {
        height: 1.8rem;
        width: 1.8rem;
    }
}
.circle-inactive {
    border-radius: 100px;
    margin-left: 2rem;
    height: 2.4rem;
    width: 2.4rem;
    border: 3px solid var(--color-main-dark);
    background-color: transparent;
    transition: all .4s;
}
@media screen and (max-width: 769px) {
    .circle-inactive {
        height: 1.8rem;
        width: 1.8rem;
    }
}